$layer-sep-color:#eee;
$bd-color:#e7e7e7;
@mixin border1px($bd-color:#000,$top:1,$right:0,$bottom:1,$left:0) {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:200%;
		height:200%;
		border:1px solid $bd-color;
		box-sizing:border-box;
		transform:scale(.5,.5);
		transform-origin:left top;
		@if $top !=1 {
			border-top:none;
		}
		@if $bottom !=1 {
			border-bottom:none;
		}
		@if $left !=1 {
			border-left:none;
		}
		@if $right !=1 {
			border-right:none;
		}
	}